.myJumbotron {
    background: url(unionjack.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 8rem;
}

.text {
    font-family: 'Lacquer', sans-serif;
    
    color: black;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.headingText {
    font-size: 2rem;
}

.mainText {
    font-size: 1rem;
}

