.myNav {
  font-size: 150%;
  font-family: 'Lacquer', sans-serif;
    color: black;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.myNavBar {
  background-color: #04348d;
}



